/*
* @Author: 21746209
* @Date:   2017-12-22 10:57:55
* @Last Modified by:   21746209
* @Last Modified time: 2018-02-28 15:19:29
*/
/*css reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{ 
    cursor: pointer;
}
a {
    text-decoration: none;
}

/*定宽布局*/
.w{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.hide{
	display: none;
}
.link{
	color: #999;
	cursor: pointer;
}
.link:hover{
	color: #e80012;
}
.link-text {
	color: #999;
}
.btn {
	display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
.loading {
	margin: 10px auto;
	background: url(../../image/icon/loading.gif) no-repeat;
	display: block;
	width:65px;
	height:65px;
	border: 1px solid #ddd;
	border-radius: 5px;
	opacity: 0.6;
}